@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap')
layer(base);

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    Sofia Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-border-color: rgb(255 255 255 / 35%);
  --color-button-inactive: #3c3a3a;
  --color-content-bg: rgb(146 151 179 / 13%);
  --color-content-button-color: #3a6df0;
  --color-content-button-hover-color: #1e59f1;
  --color-content-text-color: #ebecec;
  --color-content-title-color: #3c3a3a;
  --color-dark-light-svg: #ffce45;
  --color-dropdown-bg: #f7f7f7;
  --color-inactive-color: rgb(113 119 144 / 78%);
  --color-popup-bg: rgb(255 255 255);
  --color-popup-box-shadow: rgba(0, 0, 0, 0.4);
  --color-scrollbar-bg: rgb(255 253 253 / 57%);
  --color-status-circle-color: #396df0;
  --color-status-circle-green-color: #3bf083;
  --color-theme-color: #3c3a3a;
  --color-overlay-app: rgba(36, 39, 59, 0.8);
  --color-hover-menu-bg: rgba(255 255 255 / 35%);
  --color-dark-border-color: rgba(113 119 144 / 25%);
  --color-dark-button-inactive: rgb(249 250 251 / 55%);
  --color-dark-content-bg: rgb(146 151 179 / 13%);
  --color-dark-content-button-color: #3a6df0;
  --color-dark-content-button-hover-color: #1e59f1;
  --color-dark-content-text-color: #ebecec;
  --color-dark-content-title-color: #999ba5;
  --color-dark-dark-light-svg: #ffce45;
  --color-dark-dropdown-bg: #21242d;
  --color-dark-inactive-color: rgba(255, 255, 255, 0.5);
  --color-dark-popup-bg: rgb(22 25 37);
  --color-dark-popup-box-shadow: rgba(0, 0, 0, 0.4);
  --color-dark-scrollbar-bg: rgb(1 2 3 / 40%);
  --color-dark-status-circle-color: #396df0;
  --color-dark-status-circle-green-color: #3bf083;
  --color-dark-theme-color: #f9fafb;
  --color-dark-overlay-app: rgba(36, 39, 59, 0.8);
  --color-dark-hover-menu-bg: rgba(12 15 25 / 30%);
  --color-product-web-shop-icon-color: #3291b8;
  --color-product-booking-system-icon-color: #ff8c51;
  --color-product-directory-listing-icon-color: #fd31a2;
  --color-service-custom-software-icon-color: #c1316d;
  --color-service-business-app-icon-color: #c75deb;
  --color-service-web-standard-icon-color: #a059a9;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}